<head></head>
{% extends "base.html" %}
{% block content %}
<form action="" method="post" name="post">
	GitHUb<input type="radio" name="select" value="github">
Twitter<input type="radio" name="select" value="twitter"><br>
        <input type="text" name="input" tabindex="1" required>
        <p><input name="submit" type="submit"  value="submit"></p>
        </form>
{%if datas%}
<div align="left">
<h2>{{source}}:</h2>
<ol>
        {%for data in datas%}
	{%if source=='twitter'%}
                <li>{{data["text"]}}</li>
	{%elif source=='github'%}
		<li>{{data["git_url"]}}</li>
	{%endif%}
        {%endfor%}
</ol>
</div>{%endif%}
{% endblock %}
